.card-wrapper{
  overflow-x: auto;
  width: 90vw;
  display: block;
  white-space: nowrap;
}
.card-container {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transition: 0.3s linear;
  flex-shrink: 0;
  height:100%;
}
.card-container:hover {
  background: rgba(255, 255, 255, 0.433);
  cursor: pointer;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.card-container img {
  width: 70%;
  margin: 0;
}
.card-container p {
  margin: 0;
}
.temp {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: monospace;
}
@media only screen and (max-width: 900px) {
  .card-wrapper {
    grid-template-columns: auto auto auto auto;
  }
}
@media only screen and (max-width: 600px) {
  .card-wrapper {
    grid-template-columns: auto auto auto;
  }
}
@media only screen and (max-width: 300px) {
  .card-wrapper {
    grid-template-columns: auto auto;
  }
}

/* scrollbar */
/* width */
.card-wrapper::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.card-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background:orangered;
  border:6px solid white;
}
 
/* Handle */
.card-wrapper::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
.card-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 68, 0, 0.46); 
}