.alerts-wrapper{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
}
.alerts-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:50%;
    padding:2rem;
    background:rgba(255, 0, 0, 0.75);
    border-radius: 1rem;
}
.alerts-title{
    font-family: monospace;
    font-weight: 900;
    font-size:2rem;
    transition:0.3s linear;
    animation:blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

summary{
    margin-top:2rem;
    font-family: monospace;
    font-weight: 600;
    font-size:1rem;
}
details p{
    font-family: monospace;
    font-weight: 100;
    font-size:1rem;
    color:rgba(255, 255, 255, 0.5);
}