body {
    background-color: #133667;
    color: white;
    text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  background-color: transparent;
  margin: 0 auto;
  width: 60%;
  margin-top: 40px;
  border-radius: 8px;
  color: white;
  padding: 10px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2);
  backdrop-filter: blur(10px);
}

.places {
  color: #f39c12;
}

.main{
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: 0.5s ease-out;
  width: 100vw;
}

.drizzly{
  background-image: url(./weather_bg_images/Group_3xx_Drizzle.jpg);
}

.snowy {
  background-image: url(./weather_bg_images/Group_6xx_Snow.jpg);
}

.stormy {
  background-image: url(./weather_bg_images/Group_2xx_Thunderstorm.jpg);
}

.rainy {
  background-image: url(./weather_bg_images/Group_5xx_Rain.jpg);
}

.clear {
  background-image: url(./weather_bg_images/Group_800_Clear.jpg);
}

.cloudy {
  background-image: url(./weather_bg_images/Group_80x_Clouds.jpg);
}

.haze {
  background-image: url(./weather_bg_images/Group_7xx_Atmosphere.jpg);
}

@media (min-width: 768px) {
  .Results {
    width: 80%;
  }  
}

@media (min-width: 1024px) {
  .Results {
    width: 70%;
  }  
}
