body {
    background-color: #133667;
    color: white;
    text-align: center;
    height: 100vh;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 20px;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 10px;
  width: 200px
}

.Results {
  background-color: white;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  border-radius: 8px;
  color: black;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.drizzly{
  background-image: url(./weather_bg_images/Group_3xx_Drizzle.jpg);
  height: 100vh;
}

.snowy {
  background-image: url(./weather_bg_images/Group_6xx_Snow.jpg);
  height: 100vh;
}

.stormy {
  background-image: url(./weather_bg_images/Group_2xx_Thunderstorm.jpg);
  height: 100vh;
}

.rainy {
  background-image: url(./weather_bg_images/Group_5xx_Rain.jpg);
  height: 100vh;
}

.clear {
  background-image: url(./weather_bg_images/Group_800_Clear.jpg);
  height: 100vh;
}

.cloudy {
  background-image: url(./weather_bg_images/Group_80x_Clouds.jpg);
  height: 100vh;
}

.haze {
  background-image: url(./weather_bg_images/Group_7xx_Atmosphere.jpg);
  height: 100vh;
}
