#map {
    width: 50vw;
    height: 50vh;
    border-radius: 25px;
    margin-bottom: 3rem;
}

.mapbox {
    margin-top: 3vh;
    margin-left:25vw;
    margin-bottom: 3vh;
    justify-content: center;
}

:root {
    --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
    .leaflet-tile {
        filter: var(--leaflet-tile-filter, none);
    }

    .leaflet-container {
        background: #443a5f;
    }
}